@model WebApplicationOdontoPrev.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Administrador";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary mb-3">Página Admin</h1>
    <h5 class="text-muted">Bem-vindo, @Model.Name!</h5>
    <p class="lead mb-4">Selecione a entidade que você quer ver/editar:</p>

    <div class="d-flex flex-column gap-3 align-items-center">
        <button type="button" class="btn btn-primary btn-lg rounded-pill" onclick="location.href='@Url.Action("Index", "GerenciarPacientes")'">
            Pacientes
        </button>
        <button type="button" class="btn btn-primary btn-lg rounded-pill" onclick="location.href='@Url.Action("Index", "GerenciarDentistas")'">
            Dentistas
        </button>
        <button type="button" class="btn btn-secondary btn-lg rounded-pill" onclick="location.href='@Url.Action("PerguntaReport", "Reports")'">
            Relatório de Perguntas e Respostas
        </button>
        <button type="button" class="btn btn-secondary btn-lg rounded-pill" onclick="location.href='@Url.Action("RaioXReport", "Reports")'">
            Relatório de Raio X
        </button>
    </div>
</div>
