@model WebApplicationOdontoPrev.ViewModels.HistoricoCheckInsViewModel

@{
    ViewBag.Title = "HistoricoCheckIns";
    var dataHoje = DateTime.Now.ToString("dd/MM/yyyy");
}

<div class="container mt-5">
    <div class="saudacao text-center mb-4">
        <p class="display-6">Olá, @Model.NmPaciente</p>
        <p>Plano: @Model.NmPlano</p>
        <p>Data: @dataHoje</p>
    </div>

    <h2 class="text-primary">Histórico de Check-ins</h2>

    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead style="background-color: #0054A6; color: white;">
                <tr>
                    <th>Data</th>
                    <th>Pergunta</th>
                    <th>Resposta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var historico in Model.PerguntasRespostas)
                {
                    <tr>
                        <td>@historico.DtCheckIn.ToShortDateString()</td>
                        <td>@historico.DsPergunta</td>
                        <td>@historico.DsResposta</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <nav class="navegacao-user text-center mt-4">
        <a asp-controller="PacienteHome" asp-action="Index" asp-route-id="@Model.IdPaciente"
           class="btn btn-primary btn-lg rounded-pill">
            Página Inicial
        </a>
        <a asp-controller="ExtratoPontos" asp-action="Index" asp-route-id="@Model.IdPaciente"
           class="btn btn-success btn-lg rounded-pill">
            Extrato de Pontos
        </a>
        <a asp-controller="GerenciarPacientes" asp-action="Perfil" asp-route-id="@Model.IdPaciente"
           class="btn btn-warning text-white btn-lg rounded-pill">
            Perfil
        </a>
    </nav>
</div>
